<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <!-- Renames the level field to severity, which is what cloud run wants -->
        <level>severity</level>
        <!-- Ignore other default fields we don't need -->
        <timestamp>[ignore]</timestamp>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="json"/>
  </root>

  <logger name="org.eclipse.jetty" level="INFO"/>
  <logger name="io.netty" level="INFO"/>
  <logger name="io.grpc" level="INFO"/>
</configuration>
