<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <!-- Renames the level field to severity, which is what cloud run wants -->
                <level>severity</level>
                <!-- Ignore other default fields we don't need -->
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>
    <appender name="test" class="no.vegvesen.saga.modules.testing.TestLogger"/>
    <root level="debug">
        <appender-ref ref="test"/>
        <appender-ref ref="json"/>
    </root>
</configuration>